{
    "trailingComma": "all",
    "tabWidth": 4,
    "singleQuote": false,
    "printWidth": 100,
    "bracketSpacing": true,
    "jsxBracketSameLine": true,
    "semi": true,
    "plugins": ["prettier-plugin-tailwindcss"]
}
