:root {
    --primary-white: #ffffff;
    --primary-dark: #000000;
    --primary-gray: #8c8c8c;

    --secondary-white: #f0f0f0;
    --secondary-gray: #e8e8e8;

    --third-white: #f4f5f5;

    --black-012: rgba(0, 0, 0, 0.12);
    --black-10: rgba(0, 0, 0, 0.1);
    --white-90: rgba(255, 255, 255, 0.9);
}
