@import "@/styles/colors.css";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    cursor: pointer;
    text-decoration: none;
}
html,
body,
#app {
    height: 100%;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: var(--secondary-gray);
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body {
    position: relative;
    padding: 16px;
    background: var(--primary-white);
    font-size: 16px;
    font-weight: 400;
    color: var(--primary-dark);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 20px;
}
input {
    background: transparent;
    border: none;
    outline: none;
}
button {
    cursor: pointer;
}
