@import "@/styles/colors.css";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    cursor: pointer;
    text-decoration: none;
}
html,
body,
#app {
    height: 100%;
}
body {
    position: relative;
    padding: 16px;
    background: var(--primary-white);
    font-size: 16px;
    font-weight: 400;
    color: var(--primary-dark);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 20px;
}
input {
    background: transparent;
    border: none;
    outline: none;
}
