@use "variables" as *;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    cursor: pointer;
    text-decoration: none;
}
html,
body,
#app {
    height: 100%;
}
body {
    padding: 16px;
    background: $primary-white;
    font-size: 16px;
    font-weight: 400;
    color: $primary-dark;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 20px;
}
