$primary_white: #ffffff;
$primary_dark: #000000;
$primary_blue: #007aff;

$secondary_white: #e8e8e8;
$secondary_gray: #f0f0f0;

$third_white: #f4f5f5;
$third_gray: #707579;

$fourth_white: #cdcdcd;
$fourth_gray: #717171;

$fifth_gray: #e8e8e8;
