@import "tailwindcss";
@import "@/styles/colors.css";

@theme inline {
    --color-primary-white: var(--primary-white);
    --color-primary-dark: var(--primary-dark);
    --color-primary-gray: var(--primary-gray);
    --color-primary-blue: var(--primary-blue);

    --color-secondary-white: var(--secondary-white);
    --color-secondary-gray: var(--secondary-gray);

    --color-third-white: var(--third-white);

    --color-black-012: var(--black-012);
    --color-black-10: var(--black-10);
    --color-white-90: var(--white-90);
}
